
@import "plugins/_numbered.scss";


.gh-label {
    display: inline-block;
    padding: 0 10px;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    border: 1px solid transparent;
    border-radius: 2em;
}

code {
    padding: 0 .25rem;
    background: var(--gray-200);
    border-radius: .25rem;
    font-size: .875em;
}

a.active {
    color: var(--color-link);
}

a.ancestor {
    color: var(--color-visited-link);
}
