# {{ template "chart.description" . }}

{{ template "extra.usage" . }}

## Configuration

The following table lists the configurable parameters of the kwok chart and their default values.

{{ template "chart.valuesTable" . }}
