{{ if not (.Page.Scratch.Get "mermaid") }}
<!-- Include mermaid only first time -->
<script src="{{ "mermaid.min.js" | relURL }}"></script>

<script>
if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
  {{ with resources.Get "mermaid_dark.json" }}
  mermaid.initialize({{ .Content | safeJS }})
  {{ end }}
} else {
  {{ with resources.Get "mermaid.json" }}
  mermaid.initialize({{ .Content | safeJS }})
  {{ end }}
}
</script>

{{ .Page.Scratch.Set "mermaid" true }}
{{ end }}

<p class="mermaid{{ with .Get "class" }} {{ . }}{{ end }}">
  {{- .Inner -}}
</p>
