name: GolangCI Lint
on:
  pull_request:
    types: [opened, edited, synchronize, reopened]
    branches:
    - main

env:
  GOLANGCI_VERSION: "1.64.8"

jobs:
  golangci:
    name: lint
    timeout-minutes: 10
    strategy:
      matrix:
        os:
        - ubuntu-latest
        - macos-latest
        - windows-latest
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v5
    - name: Set up Go
      uses: actions/setup-go@v6
      with:
        go-version-file: go.mod
    - name: golangci-lint
      uses: golangci/golangci-lint-action@v6
      with:
        version: v${{ env.GOLANGCI_VERSION }}
        args: --timeout=8m --config=.golangci.yaml --new --fix
